*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑",arial;
}
.container{
	width: 100%;
	height: auto;
	background:url(../img/back2.jpg);
	 
	 
	
}
.back{
	float: left;
	width: 100%;
}
.content{
	
	width: 1000px;
	height: 1080px;
	background:rgba(255,255,255,0.5);
	margin: 0 auto;
}
.h30{
	height: 30px;
}
.Title{
	width: 800px;
	height: 50px;
	background-color: #8dbfff;
	margin: 0 auto;
	font-size: 32px;
	color: white;
	line-height: 50px;
	text-align: center;
}
.con1>li{
	float: left;
	width: 220px;
	height: auto;
	background-color: rgba(0,0,0,0.3);
	border: 5px dotted black ;
	border-radius: 20px;
	margin: 100px 0 0 180px;
	/* background: yellow; */
	list-style: none;
}
.con1>li>a{
	text-decoration: none;
}
.con1>li>a>img{
	width: 200px;
	height: 200px;
	margin: 10px;
	padding: 0 0 25px 0;
	border-bottom: 5px dotted black;
	vertical-align: top;
}
.ssq{
	width: 200px;
	height: 50px;
	background: #347ab6;
	margin: 20px 0 25px 10px ;
	font-size: 20px;
	color: white;
	text-align: center;
	line-height: 50px;
	border-radius: 25px;
	
}