* {
	margin: 0;
	padding: 0;
	outline: none;
}

/* 头部开始 */
.menuLine {
	display: none;
	position: relative;
	width: 100%;
	height: 30px;
	background-color: #0350bd;
	z-index: 999;

}

.menuLine1 {
	width: 100%;
	height: 30px;
	background-color: transparent;
}

.headChangeShow {
	display: block !important;
}

.headChangeHide {
	display: none;
}

.header {
	width: 100%;
	height: 90px;
	border-top: 3px solid #f6f6f6;
	background-color: #ffffff;
	/* opacity: 0-1之间;不透明度; */
	/* transition-delay: 时间; 过*/
}

.headBox {
	width: 80%;
	min-width: 1200px;
	height: 50px;
	margin: 0 auto;
}

.headerLogo {
	float: left;
	margin: 14px 0 0 11px;
}

.headerLinkUl {
	list-style: none;
	float: left;
	margin: 14px 0 0 40px;
}

.headerLinkItem {
	float: left;
	width: 40px;
	margin: 0 40px 0 0;
	text-align: center;
	position: relative;
}

.headerLinkUl>li {
	color: #999999;

}

.headerLinkUl>li>a>div {
	display: none;
	width: 40px;
	height: 40px;
	background-color: #0350bd;
	border-radius: 50%;
	margin: -10px 0 0 0;
	cursor: pointer;
}

.headerLinkUl>li>a>div>img {

	height: 25px;
	margin: 8px 0 0 0;

}

.headerLinkUl>li:nth-child(2)>a>div>img {

	height: 25px;
	margin: 7px 0 0 0;

}

.headerLinkUl>li:nth-child(5)>a>div>img {

	height: 25px;
	margin: 5px 0 0 4px;

}

.headerLinkUl>li:nth-child(6)>a>div>img {

	height: 25px;
	margin: 6px 0 0 1px;

}

.headerLinkUl>li:nth-child(8)>a>div>img {

	height: 25px;
	margin: 6px 0 0 0;

}

.headerLinkItem>div {
	display: none;
	width: 20px;
	height: 20px;
	background-color: #0350bd;
	transform: rotateZ(45deg);
	position: absolute;
	left: 10px;
	top: 36px;
}



.headerLinkItem>ul {
	display: none;
}

.headerLinkItem>ul>li {
	cursor: pointer;
}

.newFanLine {
	width: 800px;
	list-style: none;
	position: absolute;
	left: -160px;
	top: 40px;
	z-index: 9999;
}

.newFanLine>a>li {
	float: left;
	height: 23px;
	margin: 0 0 0 20px;
	color: white;

}

.newFanLine>a>li:hover {
	border-bottom: 2px solid white;
}

.serialLine>li {
	float: left;
	width: 90px;
	height: 1px;
}

.evaluationLine>li {
	float: left;
	width: 90px;
	height: 1px;

}

.headBoxRight {
	float: right;
	margin: 22px 0 0 0;
}

.loginAndRegister {
	float: right;
	margin: 0 0 0 20px;
	text-decoration: none;
	font-size: 14px;
	line-height: 20px;
}

.search {
	float: right;
	width: 150px;
	height: 20px;
	background-color: #e6e6e6;
	border: 0;
	border-radius: 3px;
}

.searchBtn {
	float: right;
	width: 20px;
	height: 20px;
	background-color: #0350bd;
	border: 0;
	border-radius: 3px;
	cursor: pointer;
}

.searchContent {
	float: right;
	width: 130px;
	height: 20px;
	background-color: transparent;
	border: 0;
	border-radius: 3px;
	text-indent: 10px;
}

/* 头部结束 */

/* 主体开始 */
.content {
	width: 100%;
	min-width: 1180px;
	height: auto;
	margin: 0 auto;
	background-color: #f8f8f8;
}

.conHeadLine {
	list-style: none;
	width: 1180px;
	height: 40px;
	background-color: #f6f6f8;
	padding: 10px 0 0 0;
	line-height: 30px;
	margin: 0 auto;
}

.conHeadLine>li {
	display: inline-block;
	width: 61px;
	height: 30px;
	margin: 0 25px 0 0;
	font-size: 14px;
	color: #545455;
	text-align: center;

}

.conHeadLine>li:hover {
	background-color: #025cdc;
	border-radius: 3px;
	color: white;
}

.conTitle {
	width: 1178px;
	height: 74px;
	border: 1px solid #d8d8d8;
	margin: 0 auto;

}

.conTitle>p {
	margin: 9px 0 0 11px;
	font-size: 12px;
	color: #a7a0a0;
	line-height: 12px;
}

.conMain {
	position: relative;
	width: 1180px;
	height: 1040px;
	background-color: white;
	margin: 10px auto 0;
}

.conMainHead {
	width: 1154px;
	height: 30px;
	background-color: #f4f3f7;
	padding: 0 0 0 26px;
}

.conMainHead>p {
	float: left;
	margin: 0 20px 0 0;
	font-size: 12px;
	line-height: 30px;
	color: #6e6e70;
}

.conMainHead>p:nth-child(6) {
	float: right;
	margin: 0 30px 0 60px;
}

.conMainHead>p:nth-child(7) {
	float: right;
	margin: 0 0 0 52px;
}

.conMainHead>p:nth-child(8) {
	float: right;
}


.mainContentShow>li {
	margin: 13px 0 0 40px;
	font-size: 12px;
	color: #817e89;
}

.mainContentShow>li>p {
	float: right;
	font-size: 12px;
	color: #817e89;
}

.mainContentShow>li>p:nth-child(1) {
	float: left;
}

.mainContentShow>li>p:nth-child(2) {
	margin: 0 25px 0 0;
}

.mainContentShow>li>p:nth-child(3) {
	width: 50px;
	height: 12px;
	text-align: center;
	margin: 0 40px 0 0;
}

.mainContentShow>li>p:nth-child(4) {
	width: 60px;
	height: 12px;
	text-align: center;
	margin: 0 57px 0 0;
}

.conMainBtm {
	width: 1180px;
	height: 320px;
	position: absolute;
	bottom: 0;
}

.btmBtn {
	width: 1180px;
	height: 60px;
	background-color: #f8f8f8;
}
.btmBtn>p{
	float: left;
	margin: 20px 0 0 0;
}
.btmBtn>p:nth-child(2){
	margin: 20px 0 0 800px;
}
.sendBtn {
	float: left;
	position: relative;
	width: 80px;
	height: 40px;
	background-color: #025dde;
	border-radius: 3px;
	margin: 10px 0 0 0;
	line-height: 40px;
}
.sendBtn>p{
	margin-left: 15px;
	color: white;
}
.downJt {
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 50px;
	border-top: 10px solid transparent;
	border-right: 10px solid transparent;
	border-left: 10px solid white;
	transform: rotateZ(-45deg);
}
#div1{
	width: 100%;
}
/* 主体结束 */

/* 尾部开始 */
.footer {
	width: 100%;
	height: 172px;
	background-color: #18161f;
}

.footerContent {
	width: 1180px;
	margin: 0 auto;
}
.footerLogo {
	margin: 20px 0 20px 0;
}

.footerLeft>p {
	font-size: 16px;
	color: #817e89;
}

/* 尾部结束 */
