*{
	margin: 0 ;
	padding: 0;
	font-family: "微软雅黑"，arial;
	
}
button,
input,
select,
textarea,
a,
img {
	outline: none;
}

.container {
	width: 100%;
	height: auto;
}

.header {
	width: 100%;
	height: 90px;
	background: white;
}

.head_con {
	width: 1200px;
	height: 90px;
	/* background: salmon; */
	margin: 0 auto;
}

.head_con>img {
	float: left;
	margin: 16px 0 0 11px;
}

.head_menu {
	float: left;
	width: 680px;
	height: 14px;
	margin: 38px 0 0 116px;
	list-style: none;
}

.head_menu>li {
	float: left;
	height: 14px;
	margin: 0 40px 0 0;
	font-size: 14px;
	color: #626262;
	line-height: 14px;
}

.head_menu>li>a {
	float: left;
	font-size: 14px;
	color: #626262;
	text-decoration: none;
}

.case {
	color: red !important;
}

.register {
	float: right;
	margin: 38px 9px 0 0;
	background: transparent;
	border: 0;
	font-size: 14px;
	color: #626262;
	line-height: 14px;
	cursor: pointer;
}

.register:active {
	color: #FF0000;
}
.Shuffling {
	width: 100%;
}

.Pic_Shuf1 {
	min-width: 1200px;
	max-height: 679px;
	width: 100%;
	height: auto;
	vertical-align: top;
}
.conmid{
	width: 100px%;
	height: 2036px;
}

.footer {
	min-width: 1921px;
	width: 100%;
	height: 266px;
}

.conf {
	width: 1930px;
	margin: 0 auto;
}


.talk {
	float: left;
	width: 1920px;
	height: 266px;
	background: #292929;
}
.talka {
	float: left;
	width: 361px;
	height: 200px;
	margin: 55px 0 0 0px;
	padding: 0 0 0 170px;
	/* background: yellow; */

}
.talka>li{
	list-style: none;
	line-height: 35px;
}
.talka>li>a{
	text-decoration: none;
	color: #737373;
}
.talk1 {
	float: left;
	width: 372px;
	height: 200px;
	margin: 32px 0 0 0px;
	padding: 0 0 0 159px;
	/* background: yellow; */
	border-left: 2px solid #393939;
}

.talk2 {
	float: left;
	width: 531px;
	height: 200px;
	margin: 32px 0 0 0;
	/* background: yellow; */
	border-left: 2px solid #393939;
}

.t11 {
	margin: 22px 0 16px 0;
	font-size: 18px;
	color: white;
}

.t12 {
	margin: 26px 0 12px 0;
	font-size: 14px;
	color: white;
}

#dingyue {
	width: 177px;
	height: 33px;
	border: 0;
	text-indent: 10px;
}

.tijiao {
	width: 35px;
	height: 33px;
	margin: 0 0 0 -4px;
	background: linear-gradient(to right, #ff4a7b, #ff6e53);
	border: 0;
	color: white;
}

.talk2>img {
	float: left;
	margin: 98px 0 0 182px;
}

.bbbb {
	float: left;
	margin: 26px 0 0 95px;
	font-size: 12px;
	color: #737373;

}
